{% extends "Header.html" %}
{% load static %}
{% block root %}
        <div class="image-cover hero-header">
<div class="container">
<div class="row justify-content-between align-items-center">
<div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 pe-xl-5 pe-lg-4">
<h6 class="text-primary bg-light-primary py-2 px-3 rounded-5 fw-medium d-inline-flex align-items-center mb-3"><span class="primary-2-bg w-5 h-05 me-2"></span>Get Hot &amp; Trending Jobs</h6>
<h1 class="mb-4">Remote Work Platform For Digital Team</h1>
<p class="fs-5">Getting a new job is never easy. Check what new jobs we have in store for you on Job Mation.</p>
<div class="features-groupss my-4">
<ul class="row gx-3 gy-4 p-0">
<li class="fw-medium col-xl-6 col-lg-6 col-6"><span class="square--30 circle d-inline-flex align-items-center justify-content-center text-success bg-light-success me-2"><i class="fa-solid fa-check"></i></span>5 Job Posted</li>
<li class="fw-medium col-xl-6 col-lg-6 col-6"><span class="square--30 circle d-inline-flex align-items-center justify-content-center text-success bg-light-success me-2"><i class="fa-solid fa-check"></i></span>Unlimited Team</li>
<li class="fw-medium col-xl-6 col-lg-6 col-6"><span class="square--30 circle d-inline-flex align-items-center justify-content-center text-success bg-light-success me-2"><i class="fa-solid fa-check"></i></span>10 Featured jobs</li>
<li class="fw-medium col-xl-6 col-lg-6 col-6"><span class="square--30 circle d-inline-flex align-items-center justify-content-center text-success bg-light-success me-2"><i class="fa-solid fa-check"></i></span>Lifetime Support</li>
</ul>
</div>
<div class="simple-search-wrap mb-5">
<div class="hero-search-2">
<div class="full-search-2 mt-5">
<div class="hero-search-content border rounded-3">
<div class="row classic-search-box m-0 gx-2">
<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
<div class="form-group briod">
<div class="input-with-icon">
<input class="form-control" placeholder="Skills, Designations, Keyword" type="text"/>
<i class="fa-solid fa-magnifying-glass"></i>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
<div class="form-group">
<div class="input-with-icon">
<select class="form-control">
<option value="1">Job Category</option>
<option value="2">Accounting &amp; Finance</option>
<option value="3">Automotive Jobs</option>
<option value="4">Business Services</option>
<option value="5">Education Training</option>
<option value="6">Software Application</option>
<option value="7">Restaurant &amp; Food</option>
<option value="8">Healthcare</option>
<option value="9">Transportation</option>
<option value="10">Telecommunications</option>
</select>
<i class="fa-solid fa-briefcase"></i>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
<div class="fliox-search-wiop">
<div class="form-group">
<button class="btn btn-primary full-width" type="submit">Find Job</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
<div class="row g-4 position-relative">
<div class="position-absolute bg-dot primary start-0 top-0 w-25 h-25 opacity-50"></div>
<div class="col-6">
<div class="mb-4 position-relative z-1">
<img alt="" class="img-fluid circle" src="{% static 'assets/img/bn-4.png' %}"/>
</div>
<div class="position-relative z-1">
<img alt="" class="img-fluid rounded-5" src="{% static 'assets/img/bn-2.png' %}"/>
</div>
</div>
<div class="col-6">
<div class="mb-4 position-relative z-1">
<img alt="" class="img-fluid rounded-5" src="{% static 'assets/img/bns-1.png' %}"/>
</div>
<div class="position-relative z-1">
<img alt="" class="img-fluid circle" src="{% static 'assets/img/bn-3.png' %}"/>
</div>
</div>
<div class="position-absolute bg-dot yellow end-0 bottom-0 w-25 h-25 opacity-50"></div>
</div>
</div>
</div>
</div>
</div>
<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Our Partners Start ================================== -->
<section class="primary-bg-dark min">
<div class="container">
<div class="row justify-content-center mb-2">
<div class="col-lg-7 col-md-10 text-center">
<div class="sec-heading center mb-4">
<h5 class="text-light opacity-75 fw-medium">The fastedt-growing companies use Job Mation</h5>
</div>
</div>
</div>
<div class="row align-items-center justify-content-center row-cols-xl-5 row-cols-lg-5 row-cols-md-3 row-cols-3 gx-3 gy-3">
<div class="col">
<figure class="single-brand thumb-figure">
<img alt="" class="img-fluid" src="{% static 'assets/img/brand/layar-white.svg' %}"/>
</figure>
</div>
<div class="col">
<figure class="single-brand thumb-figure">
<img alt="" class="img-fluid" src="{% static 'assets/img/brand/mailchimp-white.svg' %}"/>
</figure>
</div>
<div class="col">
<figure class="single-brand thumb-figure">
<img alt="" class="img-fluid" src="{% static 'assets/img/brand/forbes-white.svg' %}"/>
</figure>
</div>
<div class="col">
<figure class="single-brand thumb-figure">
<img alt="" class="img-fluid" src="{% static 'assets/img/brand/fitbit-white.svg' %}"/>
</figure>
</div>
<div class="col">
<figure class="single-brand thumb-figure">
<img alt="" class="img-fluid" src="{% static 'assets/img/brand/vidados-white.svg' %}"/>
</figure>
</div>
</div>
</div>
</section>
<div class="clearfix"></div>
<!-- ============================ Our Partners End ================================== -->
<!-- ============================ Featured Jobs Start ================================== -->
<section>
<div class="container">
<div class="row justify-content-center">
<div class="col-xl-6 col-lg-7 col-md-10 text-center">
<div class="sec-heading center">
<h2>Featured Jobs</h2>
<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
</div>
</div>
</div>
<div class="row justify-content-center gx-xl-3 gx-3 gy-4">
<!-- Single Item -->
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
<div class="job-instructor-layout border">
<div class="left-tags-capt">
<span class="featured-text">Featured</span>
<span class="urgent">Urgent</span>
</div>
<div class="brows-job-type"><span class="enternship">Enternship</span></div>
<div class="job-instructor-thumb">
<a href="/job-detail/"><img alt="" class="img-fluid" src="{% static 'assets/img/l-1.png' %}"/></a>
</div>
<div class="job-instructor-content">
<h4 class="instructor-title"><a href="/job-detail/">Jr. PHP Developer</a></h4>
<div class="instructor-skills">
                                    CSS3, HTML5, Javascript, Bootstrap, Jquery
                                </div>
</div>
<div class="job-instructor-footer">
<div class="instructor-students">
<h5 class="instructor-scount">$5K - $8K</h5>
</div>
<div class="instructor-corses">
<span class="c-counting">6 Open</span>
</div>
</div>
</div>
</div>
<!-- Single Item -->
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
<div class="job-instructor-layout border">
<div class="left-tags-capt">
<span class="urgent">Urgent</span>
</div>
<div class="brows-job-type"><span class="freelanc">Freelancer</span></div>
<div class="job-instructor-thumb">
<a href="/job-detail/"><img alt="" class="img-fluid" src="{% static 'assets/img/l-2.png' %}"/></a>
</div>
<div class="job-instructor-content">
<h4 class="instructor-title"><a href="/job-detail/">Exp. Project manager</a></h4>
<div class="instructor-skills">
                                    CSS3, HTML5, Javascript, Bootstrap, Jquery
                                </div>
</div>
<div class="job-instructor-footer">
<div class="instructor-students">
<h5 class="instructor-scount">$6K - $10K</h5>
</div>
<div class="instructor-corses">
<span class="c-counting">4 Open</span>
</div>
</div>
</div>
</div>
<!-- Single Item -->
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
<div class="job-instructor-layout border">
<div class="left-tags-capt">
<span class="featured-text">Featured</span>
<span class="urgent">Urgent</span>
</div>
<div class="brows-job-type"><span class="part-time">Part Time</span></div>
<div class="job-instructor-thumb">
<a href="/job-detail/"><img alt="" class="img-fluid" src="{% static 'assets/img/l-3.png' %}"/></a>
</div>
<div class="job-instructor-content">
<h4 class="instructor-title"><a href="/job-detail/">Sr. WordPress Developer</a></h4>
<div class="instructor-skills">
                                    CSS3, HTML5, Javascript, Bootstrap, Jquery
                                </div>
</div>
<div class="job-instructor-footer">
<div class="instructor-students">
<h5 class="instructor-scount">$5K - $8K</h5>
</div>
<div class="instructor-corses">
<span class="c-counting">3 Open</span>
</div>
</div>
</div>
</div>
<!-- Single Item -->
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
<div class="job-instructor-layout border">
<div class="left-tags-capt">
<span class="featured-text">Featured</span>
</div>
<div class="brows-job-type"><span class="full-time">Full Time</span></div>
<div class="job-instructor-thumb">
<a href="/job-detail/"><img alt="" class="img-fluid" src="{% static 'assets/img/l-4.png' %}"/></a>
</div>
<div class="job-instructor-content">
<h4 class="instructor-title"><a href="/job-detail/">Jr. Laravel Developer</a></h4>
<div class="instructor-skills">
                                    CSS3, HTML5, Javascript, Bootstrap, Jquery
                                </div>
</div>
<div class="job-instructor-footer">
<div class="instructor-students">
<h5 class="instructor-scount">$4.2K - $6K</h5>
</div>
<div class="instructor-corses">
<span class="c-counting">2 Open</span>
</div>
</div>
</div>
</div>
<!-- Single Item -->
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
<div class="job-instructor-layout border">
<div class="left-tags-capt">
<span class="urgent">Urgent</span>
</div>
<div class="brows-job-type"><span class="freelanc">Freelancer</span></div>
<div class="job-instructor-thumb">
<a href="/job-detail/"><img alt="" class="img-fluid" src="{% static 'assets/img/l-5.png' %}"/></a>
</div>
<div class="job-instructor-content">
<h4 class="instructor-title"><a href="/job-detail/">Sr. UI/UX Designer</a></h4>
<div class="instructor-skills">
                                    CSS3, HTML5, Javascript, Bootstrap, Jquery
                                </div>
</div>
<div class="job-instructor-footer">
<div class="instructor-students">
<h5 class="instructor-scount">$4K - $5.5K</h5>
</div>
<div class="instructor-corses">
<span class="c-counting">5 Open</span>
</div>
</div>
</div>
</div>
<!-- Single Item -->
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
<div class="job-instructor-layout border">
<div class="left-tags-capt">
<span class="featured-text">Featured</span>
<span class="urgent">Urgent</span>
</div>
<div class="brows-job-type"><span class="part-time">Part Time</span></div>
<div class="job-instructor-thumb">
<a href="/job-detail/"><img alt="" class="img-fluid" src="{% static 'assets/img/l-6.png' %}"/></a>
</div>
<div class="job-instructor-content">
<h4 class="instructor-title"><a href="/job-detail/">Java &amp; Python Developer</a></h4>
<div class="instructor-skills">
                                    CSS3, HTML5, Javascript, Bootstrap, Jquery
                                </div>
</div>
<div class="job-instructor-footer">
<div class="instructor-students">
<h5 class="instructor-scount">$2K - $4K</h5>
</div>
<div class="instructor-corses">
<span class="c-counting">4 Open</span>
</div>
</div>
</div>
</div>
<!-- Single Item -->
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
<div class="job-instructor-layout border">
<div class="left-tags-capt">
<span class="urgent">Urgent</span>
</div>
<div class="brows-job-type"><span class="full-time">FullTime</span></div>
<div class="job-instructor-thumb">
<a href="/job-detail/"><img alt="" class="img-fluid" src="{% static 'assets/img/l-7.png' %}"/></a>
</div>
<div class="job-instructor-content">
<h4 class="instructor-title"><a href="/job-detail/">Sr. Code Ignetor Developer</a></h4>
<div class="instructor-skills">
                                    CSS3, HTML5, Javascript, Bootstrap, Jquery
                                </div>
</div>
<div class="job-instructor-footer">
<div class="instructor-students">
<h5 class="instructor-scount">$5K - $6K</h5>
</div>
<div class="instructor-corses">
<span class="c-counting">3 Open</span>
</div>
</div>
</div>
</div>
<!-- Single Item -->
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
<div class="job-instructor-layout border">
<div class="left-tags-capt">
<span class="featured-text">Featured</span>
</div>
<div class="brows-job-type"><span class="enternship">Enternship</span></div>
<div class="job-instructor-thumb">
<a href="/job-detail/"><img alt="" class="img-fluid" src="{% static 'assets/img/l-8.png' %}"/></a>
</div>
<div class="job-instructor-content">
<h4 class="instructor-title"><a href="/job-detail/">Sr. Magento Developer</a></h4>
<div class="instructor-skills">
                                    CSS3, HTML5, Javascript, Bootstrap, Jquery
                                </div>
</div>
<div class="job-instructor-footer">
<div class="instructor-students">
<h5 class="instructor-scount">$3.2K - $5K</h5>
</div>
<div class="instructor-corses">
<span class="c-counting">5 Open</span>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- ============================ Featured Jobs End ================================== -->
<!-- ============================ Top Job Categories Start ================================== -->
<section class="gray-simple">
<div class="container">
<div class="row justify-content-center">
<div class="col-xl-6 col-lg-7 col-md-10 text-center">
<div class="sec-heading center">
<h2>Explore Top Categories</h2>
<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
</div>
</div>
</div>
<div class="row justify-content-center gx-4 gy-4">
<!-- Single Item -->
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="card border-0 py-4 px-4 rounded-4 mb-0">
<div class="ctrd-icons mb-3">
<i class="fa-solid fa-file-invoice text-primary fs-1"></i>
</div>
<div class="ctrd-caps">
<h4 class="fs-5"><a href="/jobs/">Accounting &amp; Finance</a></h4>
<p class="mb-3">You can view all popular jobs according your future careers.</p>
<p class="text-primary fw-medium mb-0">122 Active Jobs</p>
</div>
</div>
</div>
<!-- Single Item -->
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="card border-0 py-4 px-4 rounded-4 mb-0">
<div class="ctrd-icons mb-3">
<i class="fa-solid fa-caravan text-primary fs-1"></i>
</div>
<div class="ctrd-caps">
<h4 class="fs-5"><a href="/jobs/">Automotive Jobs</a></h4>
<p class="mb-3">You can view all popular jobs according your future careers.</p>
<p class="text-primary fw-medium mb-0">85 Active Jobs</p>
</div>
</div>
</div>
<!-- Single Item -->
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="card border-0 py-4 px-4 rounded-4 mb-0">
<div class="ctrd-icons mb-3">
<i class="fa-solid fa-person-chalkboard text-primary fs-1"></i>
</div>
<div class="ctrd-caps">
<h4 class="fs-5"><a href="/jobs/">Business &amp; Tech</a></h4>
<p class="mb-3">You can view all popular jobs according your future careers.</p>
<p class="text-primary fw-medium mb-0">25 Active Jobs</p>
</div>
</div>
</div>
<!-- Single Item -->
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="card border-0 py-4 px-4 rounded-4 mb-0">
<div class="ctrd-icons mb-3">
<i class="fa-solid fa-user-graduate text-primary fs-1"></i>
</div>
<div class="ctrd-caps">
<h4 class="fs-5"><a href="/jobs/">Education Training</a></h4>
<p class="mb-3">You can view all popular jobs according your future careers.</p>
<p class="text-primary fw-medium mb-0">212 Active Jobs</p>
</div>
</div>
</div>
<!-- Single Item -->
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="card border-0 py-4 px-4 rounded-4 mb-0">
<div class="ctrd-icons mb-3">
<i class="fa-solid fa-briefcase-medical text-primary fs-1"></i>
</div>
<div class="ctrd-caps">
<h4 class="fs-5"><a href="/jobs/">Healthcare</a></h4>
<p class="mb-3">You can view all popular jobs according your future careers.</p>
<p class="text-primary fw-medium mb-0">90 Active Jobs</p>
</div>
</div>
</div>
<!-- Single Item -->
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="card border-0 py-4 px-4 rounded-4 mb-0">
<div class="ctrd-icons mb-3">
<i class="fa-solid fa-burger text-primary fs-1"></i>
</div>
<div class="ctrd-caps">
<h4 class="fs-5"><a href="/jobs/">Restaurant &amp; Food</a></h4>
<p class="mb-3">You can view all popular jobs according your future careers.</p>
<p class="text-primary fw-medium mb-0">65 Active Jobs</p>
</div>
</div>
</div>
<!-- Single Item -->
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="card border-0 py-4 px-4 rounded-4 mb-0">
<div class="ctrd-icons mb-3">
<i class="fa-solid fa-jet-fighter text-primary fs-1"></i>
</div>
<div class="ctrd-caps">
<h4 class="fs-5"><a href="/jobs/">Transportation</a></h4>
<p class="mb-3">You can view all popular jobs according your future careers.</p>
<p class="text-primary fw-medium mb-0">160 Active Jobs</p>
</div>
</div>
</div>
<!-- Single Item -->
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="card border-0 py-4 px-4 rounded-4 mb-0">
<div class="ctrd-icons mb-3">
<i class="fa-solid fa-mobile-screen-button text-primary fs-1"></i>
</div>
<div class="ctrd-caps">
<h4 class="fs-5"><a href="/jobs/">Telecommunications</a></h4>
<p class="mb-3">You can view all popular jobs according your future careers.</p>
<p class="text-primary fw-medium mb-0">80 Active Jobs</p>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- ============================ Top Job Categories End ================================== -->
<!-- ============================ Why Choose Us Start ================================== -->
<section class="pb-4">
<div class="container">
<div class="row align-items-center justify-content-between">
<div class="col-xl-5 col-lg-5 col-md-12 col-12">
<div class="side-thumber-wrap mb-md-0 mb-4">
<div class="side-effect"></div>
<div class="side-thumber-img pe-4 pb-4 position-relative">
<div class="bg-dot yellow w-25 h-25 position-absolute start-0 top-0"></div>
<div class="bg-dot success w-25 h-25 position-absolute end-0 bottom-0"></div>
<figure><img alt="" class="img-fluid rounded-top-pill rounded-bottom-4 z-1 position-relative" src="{% static 'assets/img/slice-1.png' %}"/></figure>
</div>
</div>
</div>
<div class="col-xl-5 col-lg-6 col-md-12 col-12">
<div class="choose-us-head">
<div class="choose-us-wriops mb-2"><span class="fw-medium label-light-warning px-3 py-2 rounded">Advanced Features</span></div>
<div class="choose-title">
<h2 class="lh-base">Trusted &amp; Popular<br/>Job Portal</h2>
<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
</div>
<div class="jobstock-icon-box-list mt-4">
<ul>
<li>
<div class="vib-list-wrap21">
<div class="vib-list-icon">
<i class="fa-solid fa-check"></i>
</div>
<div class="vib-list-caption">
<h5>#1 Quality Job</h5>
<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
</div>
</div>
</li>
<li>
<div class="vib-list-wrap21">
<div class="vib-list-icon">
<i class="fa-solid fa-check"></i>
</div>
<div class="vib-list-caption">
<h5>Top Companies</h5>
<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
</div>
</div>
</li>
<li>
<div class="vib-list-wrap21">
<div class="vib-list-icon">
<i class="fa-solid fa-check"></i>
</div>
<div class="vib-list-caption">
<h5>International Jobs</h5>
<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
</div>
</div>
</li>
<li>
<div class="vib-list-wrap21">
<div class="vib-list-icon">
<i class="fa-solid fa-check"></i>
</div>
<div class="vib-list-caption">
<h5>No Extra Charges</h5>
<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
</div>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</section>
<div class="clearfix"></div>
<!-- ============================ Why Choose Us End ====================== -->
<!-- ============================ Why Choose Us Start ================================== -->
<section class="pt-0">
<div class="container">
<div class="row align-items-center justify-content-between">
<div class="col-xl-6 col-lg-6 col-md-12 col-12">
<div class="p-lg-5 p-md-0 pt-md-5">
<!-- Heading -->
<div class="mb-4 mb-sm-7">
<span class="fw-medium label-light-success px-3 py-2 rounded">Our Showcase</span>
<h2 class="mt-2 lh-base">Best Job Search platform<br/>Experience for you</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.</p>
</div>
<!-- End Heading -->
<div class="features-groupss my-4">
<ul class="row gx-3 gy-4 p-0">
<li class="fw-medium col-xl-6 col-lg-6 col-6"><span class="square--30 circle d-inline-flex align-items-center justify-content-center text-success bg-light-success me-2"><i class="fa-solid fa-check"></i></span>Corporate Business jobs</li>
<li class="fw-medium col-xl-6 col-lg-6 col-6"><span class="square--30 circle d-inline-flex align-items-center justify-content-center text-success bg-light-success me-2"><i class="fa-solid fa-check"></i></span>Company Showcase</li>
<li class="fw-medium col-xl-6 col-lg-6 col-6"><span class="square--30 circle d-inline-flex align-items-center justify-content-center text-success bg-light-success me-2"><i class="fa-solid fa-check"></i></span>Creative Services</li>
<li class="fw-medium col-xl-6 col-lg-6 col-6"><span class="square--30 circle d-inline-flex align-items-center justify-content-center text-success bg-light-success me-2"><i class="fa-solid fa-check"></i></span>Easy To Upload Resume</li>
<li class="fw-medium col-xl-6 col-lg-6 col-6"><span class="square--30 circle d-inline-flex align-items-center justify-content-center text-success bg-light-success me-2"><i class="fa-solid fa-check"></i></span>Online E-commerce</li>
<li class="fw-medium col-xl-6 col-lg-6 col-6"><span class="square--30 circle d-inline-flex align-items-center justify-content-center text-success bg-light-success me-2"><i class="fa-solid fa-check"></i></span>Hire Expert Candidates</li>
</ul>
</div>
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-6">
<a class="btn btn-primary fw-medium px-4" href="#">Explore More Jobs</a>
</div>
</div>
</div>
</div>
<div class="col-xl-5 col-lg-5 col-md-12 col-12">
<div class="side-thumber-wrap mt-md-0 mt-4">
<div class="side-effect"></div>
<div class="side-thumber-img position-relative">
<div class="square--80 circle bg-white shadow position-absolute start-0 top-0 mt-5 ms-5 animate-bounce"><img alt="" class="img-fluid" src="{% static 'assets/img/l-4.png' %}" width="40"/></div>
<div class="square--80 circle bg-white shadow position-absolute end-0 top-0 mt-5 me-5 animate-bounce"><img alt="" class="img-fluid" src="{% static 'assets/img/l-7.png' %}" width="40"/></div>
<div class="square--80 circle bg-white shadow position-absolute start-50 bottom-0 mb-4 animate-bounce"><img alt="" class="img-fluid" src="{% static 'assets/img/l-10.png' %}" width="40"/></div>
<figure><img alt="" class="img-fluid rounded" src="{% static 'assets/img/pay-2.png' %}"/></figure>
</div>
</div>
</div>
</div>
</div>
</section>
<div class="clearfix"></div>
<!-- ============================ Why Choose Us End ====================== -->
<!-- ============================ Video Help Start ================================== -->
<section class="bg-cover" data-overlay="4" style="background:#17ac6a url(assets/img/video-bg.jpg)no-repeat;">
<div class="ht-200"></div>
<div class="container">
<div class="row align-items-center justify-content-center">
<div class="col-xl-12 col-lg-12">
<div class="overlio-vedio-box">
<a class="play-video-btn text-primary" href="#"><i class="fa-solid fa-play"></i></a>
</div>
</div>
</div>
</div>
<div class="ht-200"></div>
</section>
<!-- ============================ Video Help End ================================== -->
<!-- ============================ Good Reviews By Customers ================================== -->
<section>
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-7 col-md-10 text-center">
<div class="sec-heading center">
<h2>Good Reviews By Customers</h2>
<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
</div>
</div>
</div>
<div class="row justify-content-center gx-4 gy-4">
<!-- Single Review -->
<div class="col-xl-4 col-lg-4 col-md-6">
<div class="jobstock-reviews-box">
<div class="jobstock-reviews-desc">
<h6 class="review-title-yui">"The best useful website"</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
</div>
<div class="jobstock-reviews-flex">
<div class="jobstock-reviews-thumb">
<div class="jobstock-reviews-figure"><img alt="" class="img-fluid circle" src="{% static 'assets/img/team-1.jpg' %}"/></div>
</div>
<div class="jobstock-reviews-caption">
<div class="jobstock-reviews-title">
<h4>Lucia E. Nugent</h4>
</div>
<div class="jobstock-reviews-designation"><span>CEO of Climber</span></div>
<div class="jobstock-reviews-rates">
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star deactive"></i>
</div>
</div>
</div>
</div>
</div>
<!-- Single Review -->
<div class="col-xl-4 col-lg-4 col-md-6">
<div class="jobstock-reviews-box">
<div class="jobstock-reviews-desc">
<h6 class="review-title-yui">"Ranking is the #1"</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
</div>
<div class="jobstock-reviews-flex">
<div class="jobstock-reviews-thumb">
<div class="jobstock-reviews-figure"><img alt="" class="img-fluid circle" src="{% static 'assets/img/team-2.jpg' %}"/></div>
</div>
<div class="jobstock-reviews-caption">
<div class="jobstock-reviews-title">
<h4>Brenda R. Smith</h4>
</div>
<div class="jobstock-reviews-designation"><span>Founder of Yeloower</span></div>
<div class="jobstock-reviews-rates">
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
</div>
</div>
</div>
</div>
</div>
<!-- Single Review -->
<div class="col-xl-4 col-lg-4 col-md-6">
<div class="jobstock-reviews-box">
<div class="jobstock-reviews-desc">
<h6 class="review-title-yui">"The website is eco friendly"</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
</div>
<div class="jobstock-reviews-flex">
<div class="jobstock-reviews-thumb">
<div class="jobstock-reviews-figure"><img alt="" class="img-fluid circle" src="{% static 'assets/img/team-3.jpg' %}"/></div>
</div>
<div class="jobstock-reviews-caption">
<div class="jobstock-reviews-title">
<h4>Brian B. Wilkerson</h4>
</div>
<div class="jobstock-reviews-designation"><span>CEO of Mark Soft</span></div>
<div class="jobstock-reviews-rates">
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
</div>
</div>
</div>
</div>
</div>
<!-- Single Review -->
<div class="col-xl-4 col-lg-4 col-md-6">
<div class="jobstock-reviews-box">
<div class="jobstock-reviews-desc">
<h6 class="review-title-yui">"100% save and secure website"</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
</div>
<div class="jobstock-reviews-flex">
<div class="jobstock-reviews-thumb">
<div class="jobstock-reviews-figure"><img alt="" class="img-fluid circle" src="{% static 'assets/img/team-4.jpg' %}"/></div>
</div>
<div class="jobstock-reviews-caption">
<div class="jobstock-reviews-title">
<h4>Miguel L. Benbow</h4>
</div>
<div class="jobstock-reviews-designation"><span>Founder of Mitche LTD</span></div>
<div class="jobstock-reviews-rates">
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star deactive"></i>
</div>
</div>
</div>
</div>
</div>
<!-- Single Review -->
<div class="col-xl-4 col-lg-4 col-md-6">
<div class="jobstock-reviews-box">
<div class="jobstock-reviews-desc">
<h6 class="review-title-yui">"Very developer friendly website"</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
</div>
<div class="jobstock-reviews-flex">
<div class="jobstock-reviews-thumb">
<div class="jobstock-reviews-figure"><img alt="" class="img-fluid circle" src="{% static 'assets/img/team-5.jpg' %}"/></div>
</div>
<div class="jobstock-reviews-caption">
<div class="jobstock-reviews-title">
<h4>Hilda A. Sheppard</h4>
</div>
<div class="jobstock-reviews-designation"><span>CEO of Doodle</span></div>
<div class="jobstock-reviews-rates">
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- ============================ Good Reviews By Customers ================================== -->
<!-- ============================ Call To Action ================================== -->
<section class="bg-cover call-action-container dark primary-bg-dark" style="background:url(assets/img/footer-bg-dark.png)no-repeat;">
<div class="container">
<div class="row justify-content-center">
<div class="col-xl-7 col-lg-10 col-md-12 col-sm-12">
<div class="call-action-wrap">
<div class="call-action-caption">
<h2 class="text-light">Are You Already Working With Us?</h2>
<p class="fs-6 text-light">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias</p>
</div>
<div class="call-action-form">
<form>
<div class="newsltr-form">
<input class="form-control" placeholder="Enter Your email" type="text"/>
<button class="btn btn-subscribe" type="button">Subscribe</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- ============================ Call To Action End ================================== -->
<!-- ============================ Footer Start ================================== -->
{% endblock root%}



