{% extends "Header.html" %}
{% load static %}
{% block root %}


<section class="gray-simple">
<div class="container">
<div class="row">
<div class="col-xl-12 col-lg-12 col-md-12">
<div class="cndt-head-block">
<div class="cndt-head-left">
<div class="cndt-head-thumb">
<figure><img alt="" class="img-fluid circle" src="{% static 'assets/img/team-1.jpg' %}"/></figure>
</div>
<div class="cndt-head-caption">
<div class="cndt-head-caption-top">
<div class="cndt-yior-1"><span class="label text-sm-muted text-success bg-light-success">Featured</span></div>
<div class="cndt-yior-2">
<h4 class="cndt-title">Dhananjay Preet</h4>
</div>
<div class="cndt-yior-3">
<span><i class="fa-solid fa-user-graduate me-1"></i>Developer</span>
<span><i class="fa-solid fa-location-dot me-1"></i>Canada, USA</span>
<span><i class="fa-solid fa-sack-dollar me-1"></i>$2500/PA</span>
<span><i class="fa-solid fa-cake-candles me-1"></i>07 Apr 1992</span>
</div>
</div>
<div class="cndt-head-caption-bottom">
<div class="cndt-yior-skills">
<span>Design</span>
<span>Python</span>
<span>Java</span>
<span>PHP</span>
<span>WordPress</span>
</div>
</div>
</div>
</div>
<div class="cndt-head-right">
<button class="btn btn-primary" type="button">Download CV<i class="fa-solid fa-download ms-2"></i></button>
<button class="btn btn-outline-primary ms-2" type="button"><i class="fa-solid fa-bookmark"></i></button>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- ============================ Header Information End ================================== -->
<!-- ============================ Full Candidate Details Start ================================== -->
<section>
<div class="container">
<!-- row Start -->
<div class="row">
<div class="col-xl-8 col-lg-8 col-md-12">
<div class="cdtsr-groups-block">
<div class="single-cdtsr-block">
<div class="single-cdtsr-header">
<h5>About Candidate</h5>
</div>
<div class="single-cdtsr-body">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.
                                        <p>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</p></p></div>
</div>
<div class="single-cdtsr-block">
<div class="single-cdtsr-header">
<h5>All Information</h5>
</div>
<div class="single-cdtsr-body">
<div class="row align-items-center justify-content-between gy-4">
<div class="col-xl-6 col-lg-6 col-md-6">
<div class="cdtx-infr-box">
<div class="cdtx-infr-icon"><i class="fa-solid fa-envelope-open-text"></i></div>
<div class="cdtx-infr-captions">
<h5>themezhub@gmail.com</h5>
<p>Mail Address</p>
</div>
</div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6">
<div class="cdtx-infr-box">
<div class="cdtx-infr-icon"><i class="fa-solid fa-phone-volume"></i></div>
<div class="cdtx-infr-captions">
<h5>855 606 8472</h5>
<p>Phone No.</p>
</div>
</div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6">
<div class="cdtx-infr-box">
<div class="cdtx-infr-icon"><i class="fa-regular fa-user"></i></div>
<div class="cdtx-infr-captions">
<h5>Male</h5>
<p>Gender</p>
</div>
</div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6">
<div class="cdtx-infr-box">
<div class="cdtx-infr-icon"><i class="fa-solid fa-cake-candles"></i></div>
<div class="cdtx-infr-captions">
<h5>07 Apr 1992</h5>
<p>Age</p>
</div>
</div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6">
<div class="cdtx-infr-box">
<div class="cdtx-infr-icon"><i class="fa-solid fa-wallet"></i></div>
<div class="cdtx-infr-captions">
<h5>$750/month</h5>
<p>Offerd Sallary</p>
</div>
</div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6">
<div class="cdtx-infr-box">
<div class="cdtx-infr-icon"><i class="fa-solid fa-briefcase"></i></div>
<div class="cdtx-infr-captions">
<h5>5 Years</h5>
<p>Experience</p>
</div>
</div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6">
<div class="cdtx-infr-box">
<div class="cdtx-infr-icon"><i class="fa-solid fa-user-graduate"></i></div>
<div class="cdtx-infr-captions">
<h5>Master Degree</h5>
<p>Qualification</p>
</div>
</div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6">
<div class="cdtx-infr-box">
<div class="cdtx-infr-icon"><i class="fa-solid fa-layer-group"></i></div>
<div class="cdtx-infr-captions">
<h5>Fulltime, Remote, Freelance</h5>
<p>Work Type</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="single-cdtsr-block">
<div class="single-cdtsr-header">
<h5>Resumes</h5>
</div>
<div class="single-cdtsr-body">
<div class="resumes-groups-blox">
<div class="single-resumes-blocks">
<div class="single-resumes-left">
<div class="single-resumes-icons"><i class="fa-solid fa-file-word"></i></div>
<div class="single-resumes-captions">
<h5>Daniel-Resume.doc-2022<span>1 Year ago</span></h5>
</div>
</div>
<div class="single-resumes-right">
<button class="btn btn-md btn-light-success" type="button">Download<i class="fa-solid fa-circle-down ms-1"></i></button>
</div>
</div>
<div class="single-resumes-blocks">
<div class="single-resumes-left">
<div class="single-resumes-icons"><i class="fa-solid fa-file-word"></i></div>
<div class="single-resumes-captions">
<h5>Daniel-Resume.doc-2023<span>10 Days ago</span></h5>
</div>
</div>
<div class="single-resumes-right">
<button class="btn btn-md btn-light-success" type="button">Download<i class="fa-solid fa-circle-down ms-1"></i></button>
</div>
</div>
</div>
</div>
</div>
<div class="single-cdtsr-block">
<div class="single-cdtsr-header">
<h5>All Experience</h5>
</div>
<div class="single-cdtsr-body">
<div class="experinc-usr-groups">
<div class="single-experinc-block">
<div class="single-experinc-lft">
<div class="experinc-thumbs">
<figure><img alt="" class="img-fluid" src="{% static 'assets/img/l-1.png' %}"/></figure>
</div>
</div>
<div class="single-experinc-rght">
<div class="experinc-emp-title">
<h5>Linked In</h5><span class="label text-success bg-light-success">Full Time</span></div>
<div class="experinc-post-title">
<h6>Sr. Web Designer</h6>
<div class="experinc-infos-list"><span class="exp-start">5 Years 1 Month</span><span class="work-exp-date">May 2010 - Jun 2015</span></div>
</div>
</div>
</div>
<div class="single-experinc-block">
<div class="single-experinc-lft">
<div class="experinc-thumbs">
<figure><img alt="" class="img-fluid" src="{% static 'assets/img/l-2.png' %}"/></figure>
</div>
</div>
<div class="single-experinc-rght">
<div class="experinc-emp-title">
<h5>Dribbble Ltd.</h5><span class="label text-warning bg-light-warning">Part Time</span></div>
<div class="experinc-post-title">
<h6>Sr. Product Designer</h6>
<div class="experinc-infos-list"><span class="exp-start">2 Years 3 Month</span><span class="work-exp-date">Aug 2015 - Jan 2017</span></div>
</div>
</div>
</div>
<div class="single-experinc-block">
<div class="single-experinc-lft">
<div class="experinc-thumbs">
<figure><img alt="" class="img-fluid" src="{% static 'assets/img/l-3.png' %}"/></figure>
</div>
</div>
<div class="single-experinc-rght">
<div class="experinc-emp-title">
<h5>Google Inc.</h5><span class="label text-success bg-light-success">Full Time</span></div>
<div class="experinc-post-title">
<h6>Sr. Team Leader</h6>
<div class="experinc-infos-list"><span class="exp-start">4 Years 7 Month</span>.<span class="work-exp-date">Feb 2017 - Dec 2022</span></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="single-cdtsr-block">
<div class="single-cdtsr-header">
<h5>Educations</h5>
</div>
<div class="single-cdtsr-body">
<div class="educations-usr-groups">
<div class="single-educations-block">
<div class="single-educations-lft">
<div class="educations-thumbs">
<figure><img alt="" class="img-fluid" src="{% static 'assets/img/l-4.png' %}"/></figure>
</div>
</div>
<div class="single-educations-rght">
<div class="educations-emp-title">
<h5>Swami Vivekanand University</h5>
</div>
<div class="educations-post-title">
<h6>Bachlor Degree in Computer Science</h6>
</div>
<div class="educations-infos-list"><span class="exp-start">Jun 2008</span><span class="work-exp-date">Meeruth, UP</span></div>
</div>
</div>
<div class="single-educations-block">
<div class="single-educations-lft">
<div class="educations-thumbs">
<figure><img alt="" class="img-fluid" src="{% static 'assets/img/l-5.png' %}"/></figure>
</div>
</div>
<div class="single-educations-rght">
<div class="educations-emp-title">
<h5>Shatrapati Shiva Ji Maharaja University</h5>
</div>
<div class="educations-post-title">
<h6>Master Degree in Computer Science</h6>
</div>
<div class="educations-infos-list"><span class="exp-start">Jun 2013</span><span class="work-exp-date">Faizabad, UP</span></div>
</div>
</div>
</div>
</div>
</div>
<div class="single-cdtsr-block">
<div class="single-cdtsr-header">
<h5>Candidate Skills</h5>
</div>
<div class="single-cdtsr-body">
<div class="cndts-all-skills-list">
<span>Java</span>
<span>Python</span>
<span>Bootstrap</span>
<span>HTML5</span>
<span>UI/UX</span>
<span>Laravel</span>
<span>WordPress</span>
</div>
</div>
</div>
<div class="single-cdtsr-block">
<div class="single-cdtsr-header">
<h5>Portfolio</h5>
</div>
<div class="single-cdtsr-body">
<div class="row gx-3 gy-3">
<div class="col-xl-4 col-lg-4 col-md-6 col-6">
<div class="cndts-prt-block">
<div class="cndts-prt-thumb">
<img alt="" class="img-fluid rounded" src="{% static 'assets/img/blog-1.jpg' %}"/>
</div>
<div class="cndts-prt-link"><a href="JavaScript:Void(0);"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-6">
<div class="cndts-prt-block">
<div class="cndts-prt-thumb">
<img alt="" class="img-fluid rounded" src="{% static 'assets/img/blog-2.jpg' %}"/>
</div>
<div class="cndts-prt-link"><a href="JavaScript:Void(0);"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-6">
<div class="cndts-prt-block">
<div class="cndts-prt-thumb">
<img alt="" class="img-fluid rounded" src="{% static 'assets/img/blog-3.jpg' %}"/>
</div>
<div class="cndts-prt-link"><a href="JavaScript:Void(0);"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></div>
</div>
</div>
</div>
</div>
</div>
<div class="single-cdtsr-block">
<div class="single-cdtsr-header">
<h5>Language</h5>
</div>
<div class="single-cdtsr-body">
<div class="row gy-4">
<div class="col-xl-4 col-lg-4 col-md-6 col-6">
<div class="cndts-lgs-blocks">
<div class="cndts-lgs-ico">
<h6>JP</h6>
</div>
<div class="cndts-lgs-captions">
<h5>Japanies</h5>
<p>Basic</p>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-6">
<div class="cndts-lgs-blocks">
<div class="cndts-lgs-ico">
<h6>EN</h6>
</div>
<div class="cndts-lgs-captions">
<h5>English</h5>
<p>Advance</p>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-6">
<div class="cndts-lgs-blocks">
<div class="cndts-lgs-ico">
<h6>FR</h6>
</div>
<div class="cndts-lgs-captions">
<h5>French</h5>
<p>Medium</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="single-cdtsr-block">
<div class="single-cdtsr-header">
<h5>Related Candidate</h5>
</div>
<div class="single-cdtsr-body">
<!-- Start All List -->
<div class="row justify-content-start gx-3 gy-4">
<!-- Single Item -->
<div class="col-xl-12 col-lg-12 col-md-12 col-12">
<div class="jbs-list-box border">
<div class="jbs-list-head m-0">
<div class="jbs-list-head-thunner">
<div class="jbs-list-usrs-thumb jbs-verified">
<a href="candidate-detail.html">
<figure><img alt="" class="img-fluid circle" src="{% static 'assets/img/team-1.jpg' %}"/></figure>
</a>
</div>
<div class="jbs-list-job-caption">
<div class="jbs-job-title-wrap">
<h4><a class="jbs-job-title" href="candidate-detail.html">Kr. Dhananjay Preet</a></h4>
</div>
<div class="jbs-job-mrch-lists">
<div class="single-mrch-lists">
<span>Sr. Web Designer</span>.<span><i class="fa-solid fa-location-dot me-1"></i>London</span>
</div>
</div>
</div>
</div>
<div class="jbs-list-head-middle">
<div class="elsocrio-jbs sm">
<div class="ilop-tr"><i class="fa-solid fa-coins"></i></div>
<h5 class="jbs-list-pack">7 Years Exp.</h5>
</div>
</div>
<div class="jbs-list-head-last">
<a class="btn btn-md btn-primary px-3" href="JavaScript:Void(0);">View Detail</a>
</div>
</div>
</div>
</div>
<!-- Single Item -->
<div class="col-xl-12 col-lg-12 col-md-12 col-12">
<div class="jbs-list-box border">
<div class="jbs-list-head m-0">
<div class="jbs-list-head-thunner">
<div class="jbs-list-usrs-thumb jbs-verified">
<a href="candidate-detail.html">
<figure><img alt="" class="img-fluid circle" src="{% static 'assets/img/team-6.jpg' %}"/></figure>
</a>
</div>
<div class="jbs-list-job-caption">
<div class="jbs-job-title-wrap">
<h4><a class="jbs-job-title" href="candidate-detail.html">Clarence B. Mantooth</a></h4>
</div>
<div class="jbs-job-mrch-lists">
<div class="single-mrch-lists">
<span>Sr. Content Writer</span>.<span><i class="fa-solid fa-location-dot me-1"></i>Canada, USA</span>
</div>
</div>
</div>
</div>
<div class="jbs-list-head-middle">
<div class="elsocrio-jbs sm">
<div class="ilop-tr"><i class="fa-solid fa-coins"></i></div>
<h5 class="jbs-list-pack">3 Years Exp.</h5>
</div>
</div>
<div class="jbs-list-head-last">
<a class="btn btn-md btn-primary px-3" href="JavaScript:Void(0);">View Detail</a>
</div>
</div>
</div>
</div>
<!-- Single Item -->
<div class="col-xl-12 col-lg-12 col-md-12 col-12">
<div class="jbs-list-box border">
<div class="jbs-list-head m-0">
<div class="jbs-list-head-thunner">
<div class="jbs-list-usrs-thumb jbs-verified">
<a href="candidate-detail.html">
<figure><img alt="" class="img-fluid circle" src="{% static 'assets/img/team-7.jpg' %}"/></figure>
</a>
</div>
<div class="jbs-list-job-caption">
<div class="jbs-job-title-wrap">
<h4><a class="jbs-job-title" href="candidate-detail.html">Geraldine E. Scott</a></h4>
</div>
<div class="jbs-job-mrch-lists">
<div class="single-mrch-lists">
<span>Shopify Developer</span>.<span><i class="fa-solid fa-location-dot me-1"></i>Denver, USA</span>
</div>
</div>
</div>
</div>
<div class="jbs-list-head-middle">
<div class="elsocrio-jbs sm">
<div class="ilop-tr"><i class="fa-solid fa-coins"></i></div>
<h5 class="jbs-list-pack">8 Years Exp.</h5>
</div>
</div>
<div class="jbs-list-head-last">
<a class="btn btn-md btn-primary px-3" href="JavaScript:Void(0);">View Detail</a>
</div>
</div>
</div>
</div>
<!-- Single Item -->
<div class="col-xl-12 col-lg-12 col-md-12 col-12">
<div class="jbs-list-box border">
<div class="jbs-list-head m-0">
<div class="jbs-list-head-thunner">
<div class="jbs-list-usrs-thumb jbs-verified">
<a href="candidate-detail.html">
<figure><img alt="" class="img-fluid circle" src="{% static 'assets/img/team-8.jpg' %}"/></figure>
</a>
</div>
<div class="jbs-list-job-caption">
<div class="jbs-job-title-wrap">
<h4><a class="jbs-job-title" href="candidate-detail.html">Donald J. Merrick</a></h4>
</div>
<div class="jbs-job-mrch-lists">
<div class="single-mrch-lists">
<span>Laravel Developer</span>.<span><i class="fa-solid fa-location-dot me-1"></i>California, USA</span>
</div>
</div>
</div>
</div>
<div class="jbs-list-head-middle">
<div class="elsocrio-jbs sm">
<div class="ilop-tr"><i class="fa-solid fa-coins"></i></div>
<h5 class="jbs-list-pack">5 Years Exp.</h5>
</div>
</div>
<div class="jbs-list-head-last">
<a class="btn btn-md btn-primary px-3" href="JavaScript:Void(0);">View Detail</a>
</div>
</div>
</div>
</div>
</div>
<!-- End All Job List -->
</div>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-12">
<div class="sidefr-usr-block mb-4">
<div class="sidefr-usr-header">
<h4 class="sidefr-usr-title">Contact Dhananjay Preet</h4>
</div>
<div class="sidefr-usr-body">
<form>
<div class="form-group">
<input class="form-control" placeholder="Your Name" type="text"/>
</div>
<div class="form-group">
<input class="form-control" placeholder="Email Address" type="email"/>
</div>
<div class="form-group">
<input class="form-control" placeholder="Phone." type="text"/>
</div>
<div class="form-group">
<input class="form-control" placeholder="Subject" type="text"/>
</div>
<div class="form-group">
<textarea class="form-control" placeholder="Your Message"></textarea>
</div>
<div class="form-group m-0">
<button class="btn btn-primary fw-medium full-width" type="button">Send Message</button>
</div>
</form>
</div>
</div>
<div class="sidefr-usr-block">
<div class="cndts-share-block">
<div class="cndts-share-title">
<h5>Share Profile</h5>
</div>
<div class="cndts-share-list">
<ul>
<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-twitter"></i></a></li>
<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-google-plus-g"></i></a></li>
<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-instagram"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<!-- /row -->
</div>
</section>
<!-- ============================ Full Candidate Details End ================================== -->
<!-- ============================ Call To Action ================================== -->
<section class="bg-cover primary-bg-dark" style="background:url(assets/img/footer-bg-dark.png)no-repeat;">
<div class="container">
<div class="row justify-content-center">
<div class="col-xl-7 col-lg-10 col-md-12 col-sm-12">
<div class="call-action-wrap">
<div class="sec-heading center">
<h2 class="lh-base mb-3 text-light">Find The Perfect Job<br/>on Job Mation That is Superb For You</h2>
<p class="fs-6 text-light">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias</p>
</div>
<div class="call-action-buttons mt-3">
<a class="btn btn-lg btn-dark fw-medium px-xl-5 px-lg-4 me-2" href="JavaScript:Void(0);">Upload resume</a>
<a class="btn btn-lg btn-whites fw-medium px-xl-5 px-lg-4 text-primary" href="JavaScript:Void(0);">Join Our Team</a>
</div>
</div>
</div>
</div>
</div>
</section>
<div aria-hidden="true" aria-labelledby="loginmodal" class="modal fade" id="login" role="dialog" tabindex="-1">
<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
<div class="modal-content" id="loginmodal">
<span aria-hidden="true" class="mod-close" data-bs-dismiss="modal"><i class="fas fa-close"></i></span>
<div class="modal-header">
<div class="mdl-thumb"><img alt="" class="img-fluid" src="{% static 'assets/img/ico.png' %}" width="70"/></div>
<div class="mdl-title">
<h4 class="modal-header-title">Hello, Again</h4>
</div>
</div>
<div class="modal-body">
<div class="modal-login-form">
<form>
<div class="form-floating mb-4">
<input class="form-control" placeholder="name@example.com" type="email"/>
<label>User Name</label>
</div>
<div class="form-floating mb-4">
<input class="form-control" placeholder="Password" type="password"/>
<label>Password</label>
</div>
<div class="form-group">
<button class="btn btn-primary full-width font--bold btn-lg" type="submit">Log In</button>
</div>
<div class="modal-flex-item mb-3">
<div class="modal-flex-first">
<div class="form-check form-check-inline">
<input class="form-check-input" id="savepassword" type="checkbox" value="option1"/>
<label class="form-check-label" for="savepassword">Save Password</label>
</div>
</div>
<div class="modal-flex-last">
<a href="JavaScript:Void(0);">Forget Password?</a>
</div>
</div>
</form>
</div>
<div class="social-login">
<ul>
<li><a class="btn connect-fb" href="JavaScript:Void(0);"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
<li><a class="btn connect-google" href="JavaScript:Void(0);"><i class="fa-brands fa-google"></i>Google+</a></li>
</ul>
</div>
</div>
<div class="modal-footer">
<p>Don't have an account yet?<a class="text-primary font--bold ms-1" href="signup.html">Sign Up</a></p>
</div>
</div>
</div>
</div>
<!-- End Modal -->
<!-- Filter Modal -->
<div aria-hidden="true" aria-labelledby="filtermodal" class="modal fade" id="filter" role="dialog" tabindex="-1">
<div class="modal-dialog modal-dialog-centered filter-popup" role="document">
<div class="modal-content" id="filtermodal">
<span aria-hidden="true" class="mod-close" data-bs-dismiss="modal"><i class="fas fa-close"></i></span>
<div class="modal-header">
<h4 class="modal-header-sub-title">Start Your Filter</h4>
</div>
<div class="modal-body p-0">
<div class="filter-content">
<div class="full-tabs-group">
<div class="single-tabs-group">
<div class="single-tabs-group-header">
<h5>Job Match Score</h5>
</div>
<div class="single-tabs-group-content">
<div class="d-flex flex-wrap">
<div class="sing-btn-groups">
<input class="btn-check" id="msix" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="msix">6.0</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="msixfive" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="msixfive">6.5</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="mseven" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="mseven">7.0</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="msevenfive" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="msevenfive">7.5</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="meight" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="meight">8.0</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="meightfive" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="meightfive">8.5</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="mnine" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="mnine">9.0</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="mninefive" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="mninefive">9.5</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="mten" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="mten">10</label>
</div>
</div>
</div>
</div>
<div class="single-tabs-group">
<div class="single-tabs-group-header">
<h5>Job Value Score</h5>
</div>
<div class="single-tabs-group-content">
<div class="d-flex flex-wrap">
<div class="sing-btn-groups">
<input class="btn-check" id="vsix" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="vsix">6.0</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="vsixfive" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="vsixfive">6.5</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="vseven" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="vseven">7.0</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="vsevenfive" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="vsevenfive">7.5</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="veight" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="veight">8.0</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="veightfive" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="veightfive">8.5</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="vnine" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="vnine">9.0</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="vninefive" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="vninefive">9.5</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="vten" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="vten">10</label>
</div>
</div>
</div>
</div>
<div class="single-tabs-group">
<div class="single-tabs-group-header">
<h5>Place Of Work</h5>
</div>
<div class="single-tabs-group-content">
<div class="d-flex flex-wrap">
<div class="sing-btn-groups">
<input checked="" class="btn-check" id="anywhere" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="anywhere">Anywhere</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="onsite" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="onsite">On Site</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="remote" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="remote">Fully Remote</label>
</div>
</div>
</div>
</div>
<div class="single-tabs-group">
<div class="single-tabs-group-header">
<h5>Type Of Contract</h5>
</div>
<div class="single-tabs-group-content">
<div class="d-flex flex-wrap">
<div class="sing-btn-groups">
<input class="btn-check" id="employee1" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="employee1">Employee</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="frelancers1" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="frelancers1">Freelancer</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="contractor1" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="contractor1">Contractor</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="internship1" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="internship1">Internship</label>
</div>
</div>
</div>
</div>
<div class="single-tabs-group">
<div class="single-tabs-group-header">
<h5>Type Of Employment</h5>
</div>
<div class="single-tabs-group-content">
<div class="d-flex flex-wrap">
<div class="sing-btn-groups">
<input class="btn-check" id="fulltime" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="fulltime">Full Time</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="parttime" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="parttime">Part Time</label>
</div>
<div class="sing-btn-groups">
<input checked="" class="btn-check" id="freelance2" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="freelance2">Freelance</label>
</div>
<div class="sing-btn-groups">
<input class="btn-check" id="internship2" type="checkbox"/>
<label class="btn btn-md btn-outline-primary font--bold rounded-5" for="internship2">Internship</label>
</div>
</div>
</div>
</div>
<div class="single-tabs-group">
<div class="single-tabs-group-header">
<h5>Radius In Miles</h5>
</div>
<div class="single-tabs-group-content">
<div class="rg-slider">
<input class="js-range-slider" name="my_range" type="text" value=""/>
</div>
</div>
</div>
<div class="single-tabs-group">
<div class="single-tabs-group-header">
<h5>Explore Top Categories</h5>
</div>
<div class="single-tabs-group-content">
<ul class="row p-0 m-0">
<li class="col-lg-6 col-md-6 p-0">
<div class="form-check form-check-inline">
<input class="form-check-input" id="s-1" name="s-1" type="checkbox"/>
<label class="form-check-label" for="s-1">IT Computers</label>
</div>
</li>
<li class="col-lg-6 col-md-6 p-0">
<div class="form-check form-check-inline">
<input class="form-check-input" id="s-2" name="s-2" type="checkbox"/>
<label class="form-check-label" for="s-2">Web Design</label>
</div>
</li>
<li class="col-lg-6 col-md-6 p-0">
<div class="form-check form-check-inline">
<input class="form-check-input" id="s-3" name="s-3" type="checkbox"/>
<label class="form-check-label" for="s-3">Web development</label>
</div>
</li>
<li class="col-lg-6 col-md-6 p-0">
<div class="form-check form-check-inline">
<input class="form-check-input" id="s-4" name="s-4" type="checkbox"/>
<label class="form-check-label" for="s-4">SEO Services</label>
</div>
</li>
<li class="col-lg-6 col-md-6 p-0">
<div class="form-check form-check-inline">
<input class="form-check-input" id="s-5" name="s-5" type="checkbox"/>
<label class="form-check-label" for="s-5">Financial Service</label>
</div>
</li>
<li class="col-lg-6 col-md-6 p-0">
<div class="form-check form-check-inline">
<input class="form-check-input" id="s-6" name="s-6" type="checkbox"/>
<label class="form-check-label" for="s-6">Art, Design, Media</label>
</div>
</li>
<li class="col-lg-6 col-md-6 p-0">
<div class="form-check form-check-inline">
<input class="form-check-input" id="s-7" name="s-7" type="checkbox"/>
<label class="form-check-label" for="s-7">Coach &amp; Education</label>
</div>
</li>
<li class="col-lg-6 col-md-6 p-0">
<div class="form-check form-check-inline">
<input class="form-check-input" id="s-8" name="s-8" type="checkbox"/>
<label class="form-check-label" for="s-8">Apps Developements</label>
</div>
</li>
<li class="col-lg-6 col-md-6 p-0">
<div class="form-check form-check-inline">
<input class="form-check-input" id="s-9" name="s-9" type="checkbox"/>
<label class="form-check-label" for="s-9">IOS Development</label>
</div>
</li>
<li class="col-lg-6 col-md-6 p-0">
<div class="form-check form-check-inline">
<input class="form-check-input" id="s-10" name="s-10" type="checkbox"/>
<label class="form-check-label" for="s-10">Android Development</label>
</div>
</li>
</ul>
</div>
</div>
<div class="single-tabs-group">
<div class="single-tabs-group-header">
<h5>Keywords</h5>
</div>
<div class="single-tabs-group-content">
<div class="form-group">
<input class="form-control" placeholder="Design, Java, Python, WordPress etc..." type="text"/>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<div class="filt-buttons-updates">
<button class="btn btn-dark" type="button">Clear Filter</button>
<button class="btn btn-primary" type="button">Search</button>
</div>
</div>
</div>
</div>
</div>
{% endblock root %}
